.container.mt-5
  %h2.text-info ユーザー一覧
  %h3
  - @users.each do |u|
    %p
      = link_to account_path(u.id) do
        - if u.profile.present?
          = u.profile.nickname
        -else
          Noname
