.new_board.hidden.mt-5
	.container.add_new_board_name.hidden
		.row
			%p Name
			=image_tag 'uparrow.png',class:'uparrow ml-auto'
		.row
			= text_area_tag :board_name, '',class:'ssm'
	.container.add_new_board_description.hidden
		.row
			%p Description
			= rich_text_area :board_description, '', class:'sm'
		.row
			%p Tags
			=text_area_tag :tag_list,'', class:'ssm',placeholder: 'タグとタグの間に,(カンマ)を入力してください'
		.row
			.btn.btn-first.post-new-board.hidden
				%i.fa.fa-plus
				%p Add new board