-if request.referer&.include?('/users')
	.row.bg-white
		.col-4.text-center.text-info.font-weight-bold
			%p.pt-4 ステップ①
			%p Eメールの登録
		.col-4.text-center
			%i.fa.fa-angle-double-right.fa-4x.pt-4.text-warning
		.col-4.text-center.text-info.font-weight-bold
			%p.pt-4 ステップ②
			%p プロフィールの登録
	-if user_signed_in?&&profile.nickname == 'Nickname'
		.edit-profile-title.mt-0
			.row.bg-white.justify-content-center
				%p.pt-4.text-warning.font-weight-bold.lg プロフィールを充実させるとマッチングしやすくなります。