.container-tag-area.mt-5.mb-5
	%h2.py-2.text-info All Tags
	- Board.all_tags.each do |tag_all|
		%p.btn.btn-warning.text-white
			= link_to tag_all, boards_path(tag_name: tag_all.name),class:'text-white text-decoration-none'