@import './variables';
@import 'header';

.card {
  background-color:#F4F4F4;
  border:1px solid #F4F4F4;
  border-radius:10px;
  margin: 16px 0;
  padding:10px;
  position:relative;

  &_archive_mark{
    position:absolute;
    top:0;
    right:0;
  }

  &_name {
    font-size: 22px;
    margin-bottom: 8px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
    display :flex;

    .board_detail_actions {
      right: 34px;
      position: absolute;
    }
  }

  &_deadline{
    margin-top: 30px;

    .card_deadline_text{
      font-weight:bold;
      font-size: 20px;
    }
  }

  &_description{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
    word-wrap: break-word;
  }

  &_readmore{
    cursor:pointer;
    margin-top: 10px;
  }

  &_detail {
    padding-top: 12px;
    display: flex;
    font-size: 10px;
    position:relative;
    margin-bottom: 10px;

    img {
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
      margin-right: 8px;
    }

    .card_btn{
      position:absolute;
      height: $avatar-size;
      right:5px;
      display:flex;
      align-items: center;

      p{
        font-size: 14px;
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
      }
    }
  }

  &_content {
    padding: 32px 16px;
  }
}


.archive{
  color:#fff3ff;
  &:hover{
    opacity:0.8;
  }
}
.archivechange{
  color:#EE8D72;
  &:hover{
    opacity:0.8;
  }
}