@import 'variables';
input, select {
    &.text {
      width: 100%;
      margin: 4px 0 16px 0;
      padding: 8px 16px;
      border: 1px solid #EBEBEB;
      background: white;
      border-radius: 10px;
    }
  }

  label {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
  }

  textarea, trix-editor {
    width: 100%;
    margin: 8px 0px;
    padding: 8px 8px;
    min-height: 440px;
    resize: vertical;
    border: 1px solid #EBEBEB;
    background: white;
    border-radius: 10px;
    &.ssm{
      min-height:20px;
    }
    &.sm{
      min-height:160px;
    }
  }

  .welcome-image,.welcome-image2{
    width:100%;
  }

  .sign_up_btn,.sign_in_btn,.forgot_password_btn,.google_login_btn{
    background-color: $primary-color;
    margin-bottom:30px;
    border: none;
    border-radius:5px;
    width: 100%;
    text-align: center;
    color: white;
    padding: 16px 0;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    display:inline-block;

    &:hover{
      opacity:0.8;
    }
  }

  .sign_in_facebook_btn{
    background-color:#1877F2 ;
    margin-bottom:30px;
    border: none;
    border-radius:5px;
    width: 100%;
    text-align: center;
    color: white;
    padding: 16px 0;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    display:inline-block;

    &:hover{
      opacity:0.8;
    }
  }

  .sign_in_google_btn{
    background-color:#DB4437 ;
    margin-bottom:30px;
    border: none;
    border-radius:5px;
    width: 100%;
    text-align: center;
    color: white;
    padding: 16px 0;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    display:inline-block;

    &:hover{
      opacity:0.8;
    }
  }

  .form_title,.form_description{
    margin-bottom:10px;
  }

  .form_explanation{
    margin-bottom:10px;
  }

  #q_name_cont{
    border: 1px solid #EBEBEB;
  }

  @media screen and (max-width:768px){
    #q_name_cont{
      width:100%;
    }
  }
