.profile{
    &_info{
        display:flex;

        img{
            width:300px;
            height:300px;
            margin-bottom: 50px;
            border-radius:100%;
        }
    }
}

.profile_detail{
    margin-left: 50px;
    width:70%;

    .profile_nickname{
        margin-bottom: 30px;
    }

    .profile_introduction{
        margin-bottom: 30px;
    }
}

.profile_title{
    font-size: 26px;
    padding:10px;
    width:100%;
}

.profile_edit{
    font-size: 26px;
    background-color: #F4F4F4;
    border-radius:10px;
    padding: 10px;;
}

.nickname, .introduction{
    padding:10px;
    border:1px solid #F4F4F4;
}

.profile_image_text{
    margin-bottom: 30px;
}